.goback{
    text-align: left;
    font-size: medium;
    color: darkblue;
    padding: 1rem;
    width: 12%;
}
.goback:hover{
    background: rgb(247, 224, 247);
    color: indigo;
}
a{
    text-decoration: none;
}
.bodydiv{
    text-align: center;
    /* border:2px solid red; */
}

.row1 td{

    padding: 0.5rem;
    border: 1px solid red;
    background: #fefefe;
}
.headT{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 5px solid gray;
    padding: 0.5rem;
}
.Table{
    width: 100vw;
    text-align: center;
}