.goback{
    text-align: left;
    font-size: medium;
    color: darkblue;
    padding: 1rem;
    width: 12%;
}
.goback:hover{
    background: rgb(247, 224, 247);
    color: indigo;
}
a{
    text-decoration: none;
}
.bodydiv{
    text-align: center;
}